In [82]:
import os
import pandas as pd

path = [i for i in os.listdir() if i.startswith(pd.Timestamp.now().strftime("%Y%m%d"))][0]
headers = ["cant", "producto", "valor", "unidad"]

df = pd.read_csv(path, header=None, delimiter=";")
df_clientes = pd.read_excel("inventario.xlsm", sheet_name="clientes")

df.columns = headers
df["total"] = df["cant"]*df["valor"]

nit = int(path.split("_")[1])
uid = path.split("_")[0]

In [75]:
df["cant"] = df["cant"].astype(str) + " " + df["unidad"]
df.drop("unidad", axis=1, inplace=True)
# df_clientes#.query(f"NIT == {nit}")["DIRECCION"].iloc[0]

In [76]:
df

            cant             producto  valor  total
0  1 pacas pacas          CC 3 Litros  60000  60000
1    3 unds unds  CC ZERO 1.5 Litros    5500  16500